*{
    margin: 0;
    padding: 0;
}

:root{
    --branco-principal: #fff;
    --cinza-segundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.principal{
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__botao{
    display: block;
    text-decoration: none;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    font-size: 12px;
}
.container__titulo{
    font-size: 28px;
    font-weight: 800;
}
.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-segundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dispositivos__titulo{
    font-size: 48px;
    font-weight: 700;
}

.dispositivos__lista{
    display: flex;
    text-align: center;
    list-style: none;
    margin: 5em 0;
}

.lista__item{
    font-size: 32px;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
}
.rodape__lista{
    display: flex;
    gap: 15px;
}
.rodape__logo{
    margin-bottom: 30px;
}
.lista__link{
    margin-bottom: 10px;
    list-style-type: none;
}
.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    transition: 0.5s;
    
}
.lista__link a:hover{
    cursor: pointer;
    color: var(--botao-azul);
}

.rodape__texto{
    font-size: 14px;
    text-align: center;
    color: var(--cinza-segundario);
    line-height: 3em
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}